/* Container for the business-lifecycle page */
.business-lifecycle-container {
  display: flex;
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: center;
  /* gap: 20px; Add space between sections */
  background-color: white;
  overflow: hidden; 
  box-sizing: border-box; 
}
