.quote-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: auto; 
  min-height: 300px; 
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.quote-container {
  display: flex;
  width: 100%;
  height: 100%;
}

.quote-text {
  flex: 1;
  background-color: #1f4a75;
  color: #bbd9cd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.quote-text h1 {
  font-family: 'Bitter', Georgia, "Times New Roman", serif;
  font-size: 26px;
  margin: 0;
}

.quote-text p {
  font-size: 20px;
  margin-top: 10px;
}

.quote-text .text-wrapper {
  width: 100%;
}

.quote-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100%;
  max-height: 400px;
}

.quote-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Desktop Adjustments */
@media (min-width: 1024px) {
  .quote-section {
    height: auto; /* Ensure it auto-adjusts on large screens */
  }

  .quote-text h1 {
    font-size: 2rem; /* Adjust font size for desktop */
  }

  .quote-text p {
    font-size: 1.5rem; /* Adjust paragraph font size */
  }
}

/* Mobile and Tablet Adjustments */
@media (max-width: 768px) {
  .quote-container {
    flex-direction: column; /* Stack columns vertically */
    height: auto; /* Adjust height for smaller screens */
  }

  .quote-image img {
    height: auto; /* Make image responsive */
  }

  .quote-text {
    padding: 20px 15px; /* Adjust padding for smaller screens */
  }
}

@media (max-width: 480px) {
  .quote-section {
    padding-top: 80px; /* Ensure it clears the navbar on mobile */
    height: auto; /* Let it adjust based on content */
  }

  .quote-text {
    padding: 20px 10px; /* Reduced padding for small screens */
  }

  .quote-text h1 {
    font-size: 1.8rem; /* Adjust font size for small screens */
    margin-top: 0;
  }

  .quote-text p {
    font-size: 1rem; /* Adjust paragraph font size */
  }

  .quote-image img {
    height: auto; /* Adjust image height */
  }
}
