/* Make sure HeroSection is the relative reference for ServicesSection */
.hero-section {
    position: relative; /* This will ensure the ServicesSection is positioned relative to HeroSection */
  }
  
  /* The ServicesSection should be absolutely positioned at the bottom of the HeroSection */
  .services-section {
    display: flex;
    justify-content: space-around;
    background-color: rgba(199, 113, 40, 0.85);
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    padding: 25px 0;
  }
  
  .service-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 35px;
    width: 100%;
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
    position: relative;
    z-index: 2;
    border-left: 1px solid white;
  }

  .service-item:first-child {
    border-left: none;
  }
  
  .service-item:hover {
    background-color: #1f4a75;
  }
  
  .service-item p {
    margin: 0;
    font-size: 16px;
  }
  
  .service-item h2 {
    margin: 10px 0;
  }
  
  .service-item p:last-child {
    margin-top: 10px;
    font-size: 14px;
    cursor: pointer;
  }
  
  .service-item p:hover {
    text-decoration: underline;
  }

/* Desktop-specific layout */
@media (min-width: 769px) {
  .services-section {
    flex-direction: row;
    height: 150px;
  }

  .service-item {
    width: 50%;
    padding: 20px;
    border-left: 1px solid white;
  }

  .service-item:first-child {
    border-left: none;
  }

  .service-item p {
    font-size: 16px;
  }

  .service-item h2 {
    font-size: 24px;
  }

  .service-item p:last-child {
    font-size: 14px;
  }
}

/* Mobile-specific layout */
@media (max-width: 768px) {
  .services-section {
    position: static;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px 15px;
  }

  .service-item {
    width: 100%;
    padding: 15px 10px;
    border-left: none;
    border-top: 1px solid white;
  }

  .service-item:first-child {
    border-top: none;
  }

  .service-item p {
    font-size: 14px;
  }

  .service-item h2 {
    font-size: 18px;
  }

  .service-item p:last-child {
    font-size: 12px;
  }
}