.services-grid-section {
    background-color: white;
    padding: 40px 20px;
    text-align: center;
    width: 100vw;
  }
  
  .services-grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    align-items: stretch;
    justify-items: stretch;
    min-height: 100vh;
  }
  
  .services-grid-item {
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
  }
  
  .grid-icon {
    width: 50px;
    height: auto;
    margin-bottom: 15px;
  }
  
  .grid-title {
    font-family: 'Bitter', Georgia, "Times New Roman", serif;
    font-size: 1.5rem;
    color: #1f4a75;
    margin-bottom: 10px;
  }
  
  .grid-text {
    font-size: 1rem;
    padding: 0px 50px;
    color: #333;
    line-height: 1.5;
  }
  
  .learn-more-btn {
    background-color: #f17c00; 
    color: white;
    font-size: 16px;
    font-weight: 550;
    padding: 12px 40px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.3s ease;
    margin-top: 20px;
    display: inline-flex;
    align-items: center;
  }
  
  .learn-more-btn .arrow {
    margin-left: 8px;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .learn-more-btn:hover {
    background-color: #d66f00;
  }
  
  .learn-more-btn:hover .arrow {
    opacity: 1; 
  }
  
  @media (max-width: 768px) {
    .services-grid-container {
      grid-template-columns: 1fr;
      min-height: auto;
    }
  
    .grid-icon {
      width: 40px;
    }
  
    .grid-title {
      font-size: 1.3rem;
    }
  
    .grid-text {
      padding: 0px 20px;
    }
  }
  